{% extends "layoutNormal.html" %}

{% block title %}
    NEW PASSWORD PAGE
{% endblock %}

{% block heading %}
    NEW PASSWORD
{% endblock %}

{% block body %}
    <!-- Form for storing the login credentials -->
    <form action="/newPasswd" method="POST" style="text-align: center;">

        <!-- Password -->
        <input type="password" name="passwd" placeholder="PASSWORD" class="form-group text" autocomplete="off">
        <br><br>

        <!-- Password Confirmation -->
        <input type="password" name="passwdConf" placeholder="PASSWORD CONFIRMATION" class="form-group text" autocomplete="off">
        <br><br>

        <!-- Submit Button -->
        <input type="submit" value="Confirm Password" class="form-group submit">

    </form>
{% endblock %}