{% extends "layoutNormal.html" %}

{% block title %}
    REGISTER PAGE
{% endblock %}

{% block heading %}
    REGISTER USER
{% endblock %}

{% block body %}
    <!-- Form for storing the login credentials -->
    <form action="/register" method="POST" style="text-align: center;">

        <!-- Username -->
        <input type="text" name="username" placeholder="USERNAME" class="form-group text">
        <br><br>

        <!-- Password -->
        <input type="password" name="passwd" placeholder="PASSWORD" class="form-group text" autocomplete="off">
        <br><br>

        <!-- Password Confirmation -->
        <input type="password" name="passwdConf" placeholder="PASSWORD CONFIRMATION" class="form-group text" autocomplete="off">
        <br><br>

        <!-- Security Key -->
        <input type="password" name="secKey" placeholder="SECURITY KEY" class="form-group text" autocomplete="off">
        <br><br>

        <!-- Submit Button -->
        <input type="submit" value="Register" class="form-group submit">

    </form>
{% endblock %}